In [1]:
#Importing libraries
# !pip install tensorflow
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

WARNING:tensorflow:From C:\Users\Yogesh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
#Load the data

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.drop(columns=['RowNumber','CustomerId','Surname'], inplace=True)

In [5]:
                    df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# Data Transformation

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.drop(columns = ['Exited'])

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [9]:
pd.get_dummies(data = df, columns = ['Geography','Gender'])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [10]:
df = pd.get_dummies(data=df, columns=['Geography','Gender'],dtype = int)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

# Model Building

In [11]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [12]:
df.drop(columns = ['Exited'])

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [13]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [14]:
sc = StandardScaler()
x = df.drop(columns=['Exited'])
y = df['Exited']

In [15]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [16]:
x = sc.fit_transform(x)
x

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ...,  1.74273971,
         1.09598752, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57380915,
         1.09598752, -1.09598752]])

In [17]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20, random_state=1)

In [18]:
xtrain

array([[-0.23310044, -0.94607926, -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [-0.25379399, -0.94607926, -0.35020386, ..., -0.57380915,
         1.09598752, -1.09598752],
       [-0.39864885,  0.77028538,  0.34135195, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [ 0.22215769,  0.5795782 ,  1.37868567, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 0.12903671,  0.00745665,  1.03290776, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 1.16371428,  0.29351742,  0.34135195, ..., -0.57380915,
        -0.91241915,  0.91241915]])

In [19]:
#Initialize model
ann = Sequential()

#Add hidden layer
ann.add(Dense(units=10,activation='relu'))

#Add output layer
ann.add(Dense(units=1, activation='sigmoid'))

#Establish the connection between the layers
ann.compile(optimizer = 'adadelta',loss='binary_crossentropy',metrics=['accuracy'])

#Fit the data
ann.fit(xtrain,ytrain, epochs=100)

WARNING:tensorflow:From C:\Users\Yogesh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\Yogesh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/100
WARNING:tensorflow:From C:\Users\Yogesh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Yogesh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 2ms/step - loss: 0.9189 - accuracy: 0.3576
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9174 - accuracy: 0.3580
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9159 - accuracy: 0.3580
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9142 - accuracy: 0.3586
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9125 - accuracy: 0.3590
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9108 - accuracy: 0.3601
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9090 - accuracy: 0.3605
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9072 - accuracy: 0.3614
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9054 - accuracy: 0.3610
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9036 - accuracy: 0.3620
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.9018 - accuracy: 0.3625
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8999 - accuracy: 0.3632
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8981 - accuracy: 0.3640
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8962 - accuracy: 0.3643
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8944 - accuracy: 0.3650
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8926 - accuracy: 0.3665
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8907 - accuracy: 0.3679
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8889 - accuracy: 0.3685
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8871 - accuracy: 0.3691
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8853 - accuracy: 0.3694
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8835 - accuracy: 0.3705
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8817 - accuracy: 0.3710
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8799 - accuracy: 0.3715
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8781 - accuracy: 0.3724
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8763 - accuracy: 0.3734
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8746 - accuracy: 0.3749
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8728 - accuracy: 0.3761
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8710 - accuracy: 0.3770
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8693 - accuracy: 0.3780
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8675 - accuracy: 0.3787
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8658 - accuracy: 0.3800
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8640 - accuracy: 0.3806
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8623 - accuracy: 0.3815
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8606 - accuracy: 0.3826
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8589 - accuracy: 0.3831
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8572 - accuracy: 0.3842
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8555 - accuracy: 0.3849
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8538 - accuracy: 0.3853
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8521 - accuracy: 0.3859
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8505 - accuracy: 0.3865
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8488 - accuracy: 0.3876
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8471 - accuracy: 0.3887
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8455 - accuracy: 0.3898
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8438 - accuracy: 0.3907
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8422 - accuracy: 0.3916
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8405 - accuracy: 0.3924
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8389 - accuracy: 0.3934
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8372 - accuracy: 0.3944
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8356 - accuracy: 0.3950
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8340 - accuracy: 0.3957
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8324 - accuracy: 0.3971
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8308 - accuracy: 0.3984
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8292 - accuracy: 0.3994
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8277 - accuracy: 0.4006
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8261 - accuracy: 0.4014
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8246 - accuracy: 0.4021
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8230 - accuracy: 0.4030
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8215 - accuracy: 0.4038
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8200 - accuracy: 0.4041
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8185 - accuracy: 0.4046
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8170 - accuracy: 0.4058
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8155 - accuracy: 0.4061
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8140 - accuracy: 0.4080
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8126 - accuracy: 0.4091
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8111 - accuracy: 0.4105
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8096 - accuracy: 0.4117
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8081 - accuracy: 0.4131
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8066 - accuracy: 0.4142
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8052 - accuracy: 0.4149
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8037 - accuracy: 0.4157
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8023 - accuracy: 0.4165
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8008 - accuracy: 0.4180
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7993 - accuracy: 0.4199
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7979 - accuracy: 0.4209
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7965 - accuracy: 0.4223
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7951 - accuracy: 0.4235
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7936 - accuracy: 0.4248
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7922 - accuracy: 0.4256
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7908 - accuracy: 0.4277
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7894 - accuracy: 0.4289
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7880 - accuracy: 0.4296
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7867 - accuracy: 0.4309
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7853 - accuracy: 0.4315
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7839 - accuracy: 0.4324
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7825 - accuracy: 0.4338
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7811 - accuracy: 0.4345
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7798 - accuracy: 0.4350
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7784 - accuracy: 0.4363
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7771 - accuracy: 0.4378
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7758 - accuracy: 0.4395
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7744 - accuracy: 0.4421
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7731 - accuracy: 0.4425
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7718 - accuracy: 0.4436
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7705 - accuracy: 0.4446
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7692 - accuracy: 0.4460
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7679 - accuracy: 0.4474
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7666 - accuracy: 0.4486
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7653 - accuracy: 0.4491
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7641 - accuracy: 0.4506
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7628 - accuracy: 0.4519

In [20]:
xtest

array([[-1.04014895,  0.77028538, -1.04175968, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [ 0.3049319 , -0.4693113 , -0.69598177, ..., -0.57380915,
        -0.91241915,  0.91241915],
       [-1.23673768,  0.29351742, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       ...,
       [-0.86425376, -0.4693113 ,  1.72446358, ...,  1.74273971,
        -0.91241915,  0.91241915],
       [-0.30552787, -0.85072567, -1.04175968, ..., -0.57380915,
         1.09598752, -1.09598752],
       [ 0.0462625 ,  1.24705333,  1.37868567, ..., -0.57380915,
        -0.91241915,  0.91241915]])

In [21]:
ypred = ann.predict(xtest)
ypred

63/63 [==============================] - 0s 2ms/step

array([[0.5692363 ],
       [0.36067367],
       [0.49074912],
       ...,
       [0.5230113 ],
       [0.3838823 ],
       [0.34127086]], dtype=float32)

In [22]:
ytest

9953    0
3850    0
4962    0
3886    0
5437    0
       ..
3919    0
162     0
7903    0
2242    0
2745    0
Name: Exited, Length: 2000, dtype: int64

In [23]:
# print(classification_report(ytest,ypred))

In [24]:
ypred > 0.5

array([[ True],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [25]:
ypred = ypred > 0.5
ypred

array([[ True],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [False]])

In [26]:
ytest

9953    0
3850    0
4962    0
3886    0
5437    0
       ..
3919    0
162     0
7903    0
2242    0
2745    0
Name: Exited, Length: 2000, dtype: int64

In [27]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.73      0.50      0.59      1585
           1       0.14      0.31      0.19       415

    accuracy                           0.46      2000
   macro avg       0.44      0.40      0.39      2000
weighted avg       0.61      0.46      0.51      2000

# Hyperparameter Tuning

In [28]:
# !pip install -U keras-tuner

Requirement already satisfied: keras-tuner in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.4.7)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\Yogesh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: keras in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->keras-tuner) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yogesh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->keras-tuner) (2024.2.2)

# **Tuning the ANN Model**
- Selecting the best optimizer

In [29]:
import keras_tuner as kt

In [30]:
def optimizer_selection(hp):
    #initialize the model
    model = Sequential()
    #Add hidden layer
    model.add(Dense(units=10, activation='relu'))
    #Add output layer
    model.add(Dense(units=1, activation='sigmoid'))
    #Optimizer selection
    optim = hp.Choice('optimizer', values = ['sgd','adam','rmsprop'])
    model.compile(optimizer=optim, loss = 'binary_crossentropy', metrics = 'accuracy')
    return model

In [31]:
tuner = kt.RandomSearch(
    optimizer_selection,
    objective='val_accuracy',
    max_trials=3
)

In [32]:
tuner.search(xtrain,ytrain, epochs = 3, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 03s]
val_accuracy: 0.8209999799728394

Best val_accuracy So Far: 0.8209999799728394
Total elapsed time: 00h 00m 09s

In [33]:
tuner.get_best_hyperparameters()[0].values

{'optimizer': 'rmsprop'}

In [34]:
model = tuner.get_best_models(num_models=1)[0]
model.fit(xtrain,ytrain, epochs = 100, validation_data = (xtest,ytest))

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4201 - accuracy: 0.8236 - val_loss: 0.4126 - val_accuracy: 0.8240
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4125 - accuracy: 0.8303 - val_loss: 0.4057 - val_accuracy: 0.8315
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4053 - accuracy: 0.8330 - val_loss: 0.3995 - val_accuracy: 0.8350
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3986 - accuracy: 0.8363 - val_loss: 0.3918 - val_accuracy: 0.8365
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3915 - accuracy: 0.8395 - val_loss: 0.3851 - val_accuracy: 0.8415
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3842 - accuracy: 0.8445 - val_loss: 0.3783 - val_accuracy: 0.8445
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3772 - accuracy: 0.8482 - val_loss: 0.3738 - val_accuracy: 0.8480
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3711 - accuracy: 0.8487 - val_loss: 0.3671 - val_accuracy: 0.8505
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8511 - val_loss: 0.3644 - val_accuracy: 0.8500
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3629 - accuracy: 0.8524 - val_loss: 0.3612 - val_accuracy: 0.8550
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3596 - accuracy: 0.8547 - val_loss: 0.3597 - val_accuracy: 0.8545
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3577 - accuracy: 0.8549 - val_loss: 0.3573 - val_accuracy: 0.8560
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3558 - accuracy: 0.8560 - val_loss: 0.3552 - val_accuracy: 0.8550
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3543 - accuracy: 0.8546 - val_loss: 0.3535 - val_accuracy: 0.8575
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3530 - accuracy: 0.8558 - val_loss: 0.3522 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3518 - accuracy: 0.8570 - val_loss: 0.3524 - val_accuracy: 0.8555
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8575 - val_loss: 0.3502 - val_accuracy: 0.8580
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3498 - accuracy: 0.8581 - val_loss: 0.3492 - val_accuracy: 0.8565
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3493 - accuracy: 0.8575 - val_loss: 0.3485 - val_accuracy: 0.8580
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3484 - accuracy: 0.8590 - val_loss: 0.3473 - val_accuracy: 0.8580
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3474 - accuracy: 0.8585 - val_loss: 0.3465 - val_accuracy: 0.8610
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3468 - accuracy: 0.8586 - val_loss: 0.3460 - val_accuracy: 0.8605
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3461 - accuracy: 0.8572 - val_loss: 0.3455 - val_accuracy: 0.8610
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3455 - accuracy: 0.8572 - val_loss: 0.3445 - val_accuracy: 0.8585
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3452 - accuracy: 0.8593 - val_loss: 0.3449 - val_accuracy: 0.8585
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3446 - accuracy: 0.8574 - val_loss: 0.3433 - val_accuracy: 0.8595
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3447 - accuracy: 0.8599 - val_loss: 0.3441 - val_accuracy: 0.8620
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3441 - accuracy: 0.8581 - val_loss: 0.3427 - val_accuracy: 0.8605
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3441 - accuracy: 0.8596 - val_loss: 0.3439 - val_accuracy: 0.8595
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8595 - val_loss: 0.3438 - val_accuracy: 0.8610
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3438 - accuracy: 0.8587 - val_loss: 0.3433 - val_accuracy: 0.8605
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8596 - val_loss: 0.3435 - val_accuracy: 0.8590
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8606 - val_loss: 0.3430 - val_accuracy: 0.8610
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3432 - accuracy: 0.8594 - val_loss: 0.3428 - val_accuracy: 0.8630
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8595 - val_loss: 0.3423 - val_accuracy: 0.8625
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3426 - accuracy: 0.8591 - val_loss: 0.3434 - val_accuracy: 0.8605
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3425 - accuracy: 0.8618 - val_loss: 0.3429 - val_accuracy: 0.8585
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8608 - val_loss: 0.3428 - val_accuracy: 0.8605
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8605 - val_loss: 0.3438 - val_accuracy: 0.8610
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3424 - accuracy: 0.8593 - val_loss: 0.3424 - val_accuracy: 0.8615
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8601 - val_loss: 0.3426 - val_accuracy: 0.8600
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8599 - val_loss: 0.3426 - val_accuracy: 0.8590
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8597 - val_loss: 0.3417 - val_accuracy: 0.8610
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8600 - val_loss: 0.3411 - val_accuracy: 0.8605
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8605 - val_loss: 0.3416 - val_accuracy: 0.8615
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8597 - val_loss: 0.3414 - val_accuracy: 0.8600
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8591 - val_loss: 0.3409 - val_accuracy: 0.8615
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8601 - val_loss: 0.3425 - val_accuracy: 0.8585
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8599 - val_loss: 0.3413 - val_accuracy: 0.8585
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8604 - val_loss: 0.3424 - val_accuracy: 0.8580
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8612 - val_loss: 0.3424 - val_accuracy: 0.8595
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8600 - val_loss: 0.3416 - val_accuracy: 0.8610
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8604 - val_loss: 0.3415 - val_accuracy: 0.8610
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8601 - val_loss: 0.3410 - val_accuracy: 0.8625
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8601 - val_loss: 0.3410 - val_accuracy: 0.8610
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8609 - val_loss: 0.3412 - val_accuracy: 0.8600
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8618 - val_loss: 0.3422 - val_accuracy: 0.8570
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8611 - val_loss: 0.3416 - val_accuracy: 0.8595
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8612 - val_loss: 0.3410 - val_accuracy: 0.8605
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8601 - val_loss: 0.3418 - val_accuracy: 0.8585
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8614 - val_loss: 0.3411 - val_accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8608 - val_loss: 0.3413 - val_accuracy: 0.8590
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3404 - accuracy: 0.8602 - val_loss: 0.3415 - val_accuracy: 0.8580
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8601 - val_loss: 0.3412 - val_accuracy: 0.8600
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8606 - val_loss: 0.3407 - val_accuracy: 0.8615
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3402 - accuracy: 0.8612 - val_loss: 0.3405 - val_accuracy: 0.8590
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8604 - val_loss: 0.3408 - val_accuracy: 0.8590
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8612 - val_loss: 0.3408 - val_accuracy: 0.8620
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8590 - val_loss: 0.3392 - val_accuracy: 0.8615
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8590 - val_loss: 0.3402 - val_accuracy: 0.8600
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8615 - val_loss: 0.3400 - val_accuracy: 0.8585
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8615 - val_loss: 0.3390 - val_accuracy: 0.8610
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8609 - val_loss: 0.3412 - val_accuracy: 0.8595
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8604 - val_loss: 0.3395 - val_accuracy: 0.8605
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8622 - val_loss: 0.3412 - val_accuracy: 0.8615
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8611 - val_loss: 0.3405 - val_accuracy: 0.8600
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8611 - val_loss: 0.3399 - val_accuracy: 0.8620
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8608 - val_loss: 0.3419 - val_accuracy: 0.8620
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8618 - val_loss: 0.3411 - val_accuracy: 0.8625
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8618 - val_loss: 0.3401 - val_accuracy: 0.8625
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8609 - val_loss: 0.3396 - val_accuracy: 0.8610
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8612 - val_loss: 0.3399 - val_accuracy: 0.8615
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8611 - val_loss: 0.3396 - val_accuracy: 0.8620
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8619 - val_loss: 0.3394 - val_accuracy: 0.8600
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8629 - val_loss: 0.3417 - val_accuracy: 0.8610
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8619 - val_loss: 0.3401 - val_accuracy: 0.8625
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8610 - val_loss: 0.3407 - val_accuracy: 0.8625
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8618 - val_loss: 0.3391 - val_accuracy: 0.8635
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8629 - val_loss: 0.3401 - val_accuracy: 0.8625
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8621 - val_loss: 0.3398 - val_accuracy: 0.8605
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8611 - val_loss: 0.3396 - val_accuracy: 0.8620
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8611 - val_loss: 0.3395 - val_accuracy: 0.8610
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8616 - val_loss: 0.3389 - val_accuracy: 0.8620
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8612 - val_loss: 0.3388 - val_accuracy: 0.8620
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8610 - val_loss: 0.3400 - val_accuracy: 0.8625
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8615 - val_loss: 0.3395 - val_accuracy: 0.8610
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8627 - val_loss: 0.3392 - val_accuracy: 0.8640
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8616 - val_loss: 0.3394 - val_accuracy: 0.8635
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8621 - val_loss: 0.3394 - val_accuracy: 0.8610
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8612 - val_loss: 0.3395 - val_accuracy: 0.8635

In [35]:
model.evaluate(xtrain,ytrain)

250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8635

[0.3366178274154663, 0.8634999990463257]

# Regression

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Regression.csv')
df

          price     feature1     feature2
0    461.527929   999.787558   999.766096
1    548.130012   998.861615  1001.042403
2    410.297162  1000.070267   998.844015
3    540.382220   999.952251  1000.440940
4    546.024553  1000.446011  1000.338531
..          ...          ...          ...
995  476.526078  1000.018988   999.672732
996  457.313186   998.855379  1000.020026
997  456.720993  1001.451646   998.847605
998  403.315576  1000.771023   998.562851
999  599.367094   999.232244  1001.451407

[1000 rows x 3 columns]

In [37]:
x = df.iloc[:,1:]
y = df['price']

In [38]:
x = sc.fit_transform(x)
x

array([[-0.23277509, -0.22551031],
       [-1.18389307,  1.12100979],
       [ 0.05762098, -1.19831827],
       ...,
       [ 1.47655818, -1.19452982],
       [ 0.77742978, -1.49494959],
       [-0.80318737,  1.55251428]])

In [39]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2, random_state=1)

In [40]:
ann = Sequential()

ann.add(Dense(units=30, activation='relu'))
ann.add(Dense(units=20, activation='relu'))

ann.add(Dense(units=1))

ann.compile(optimizer='adam',loss = 'mse')

ann.fit(xtrain,ytrain, epochs = 100, validation_data = (xtest,ytest))

Epoch 1/100
25/25 [==============================] - 1s 10ms/step - loss: 255855.3125 - val_loss: 262570.9688
Epoch 2/100
25/25 [==============================] - 0s 4ms/step - loss: 255314.2812 - val_loss: 262004.5000
Epoch 3/100
25/25 [==============================] - 0s 4ms/step - loss: 254602.1406 - val_loss: 261157.9844
Epoch 4/100
25/25 [==============================] - 0s 4ms/step - loss: 253518.5156 - val_loss: 259833.5156
Epoch 5/100
25/25 [==============================] - 0s 3ms/step - loss: 251856.2188 - val_loss: 257822.7188
Epoch 6/100
25/25 [==============================] - 0s 3ms/step - loss: 249389.2812 - val_loss: 254919.4219
Epoch 7/100
25/25 [==============================] - 0s 3ms/step - loss: 245891.2969 - val_loss: 250868.4375
Epoch 8/100
25/25 [==============================] - 0s 3ms/step - loss: 241100.2031 - val_loss: 245329.8125
Epoch 9/100
25/25 [==============================] - 0s 4ms/step - loss: 234674.0156 - val_loss: 238055.0469
Epoch 10/100
25/25 [==============================] - 0s 4ms/step - loss: 226455.7188 - val_loss: 228875.3125
Epoch 11/100
25/25 [==============================] - 0s 4ms/step - loss: 216332.4062 - val_loss: 217790.6406
Epoch 12/100
25/25 [==============================] - 0s 4ms/step - loss: 204273.1875 - val_loss: 204855.2031
Epoch 13/100
25/25 [==============================] - 0s 5ms/step - loss: 190505.9844 - val_loss: 190051.5938
Epoch 14/100
25/25 [==============================] - 0s 4ms/step - loss: 174980.8750 - val_loss: 173905.0000
Epoch 15/100
25/25 [==============================] - 0s 4ms/step - loss: 158292.1406 - val_loss: 156417.0156
Epoch 16/100
25/25 [==============================] - 0s 3ms/step - loss: 140653.9844 - val_loss: 138238.7969
Epoch 17/100
25/25 [==============================] - 0s 4ms/step - loss: 122639.0625 - val_loss: 119854.5781
Epoch 18/100
25/25 [==============================] - 0s 5ms/step - loss: 104772.6328 - val_loss: 101761.2109
Epoch 19/100
25/25 [==============================] - 0s 4ms/step - loss: 87482.8516 - val_loss: 84593.2266
Epoch 20/100
25/25 [==============================] - 0s 3ms/step - loss: 71384.6953 - val_loss: 68847.2812
Epoch 21/100
25/25 [==============================] - 0s 3ms/step - loss: 57023.9883 - val_loss: 54609.1094
Epoch 22/100
25/25 [==============================] - 0s 3ms/step - loss: 44454.5469 - val_loss: 42550.5312
Epoch 23/100
25/25 [==============================] - 0s 3ms/step - loss: 34063.5469 - val_loss: 32572.9121
Epoch 24/100
25/25 [==============================] - 0s 3ms/step - loss: 25736.7305 - val_loss: 24733.4629
Epoch 25/100
25/25 [==============================] - 0s 3ms/step - loss: 19407.8965 - val_loss: 18770.5762
Epoch 26/100
25/25 [==============================] - 0s 3ms/step - loss: 14775.9805 - val_loss: 14417.2812
Epoch 27/100
25/25 [==============================] - 0s 3ms/step - loss: 11519.9053 - val_loss: 11357.9834
Epoch 28/100
25/25 [==============================] - 0s 3ms/step - loss: 9298.9131 - val_loss: 9301.5928
Epoch 29/100
25/25 [==============================] - 0s 3ms/step - loss: 7852.6050 - val_loss: 7897.7036
Epoch 30/100
25/25 [==============================] - 0s 3ms/step - loss: 6897.3433 - val_loss: 6941.5430
Epoch 31/100
25/25 [==============================] - 0s 3ms/step - loss: 6266.7944 - val_loss: 6256.7695
Epoch 32/100
25/25 [==============================] - 0s 3ms/step - loss: 5800.8330 - val_loss: 5794.8042
Epoch 33/100
25/25 [==============================] - 0s 3ms/step - loss: 5461.8501 - val_loss: 5418.9307
Epoch 34/100
25/25 [==============================] - 0s 4ms/step - loss: 5180.1504 - val_loss: 5118.3921
Epoch 35/100
25/25 [==============================] - 0s 3ms/step - loss: 4926.3223 - val_loss: 4855.9517
Epoch 36/100
25/25 [==============================] - 0s 4ms/step - loss: 4700.7998 - val_loss: 4625.5640
Epoch 37/100
25/25 [==============================] - 0s 3ms/step - loss: 4487.9805 - val_loss: 4398.7319
Epoch 38/100
25/25 [==============================] - 0s 3ms/step - loss: 4286.6792 - val_loss: 4196.6470
Epoch 39/100
25/25 [==============================] - 0s 3ms/step - loss: 4092.5498 - val_loss: 3991.4243
Epoch 40/100
25/25 [==============================] - 0s 3ms/step - loss: 3906.6917 - val_loss: 3802.2944
Epoch 41/100
25/25 [==============================] - 0s 3ms/step - loss: 3726.0088 - val_loss: 3622.6243
Epoch 42/100
25/25 [==============================] - 0s 6ms/step - loss: 3551.6853 - val_loss: 3446.3896
Epoch 43/100
25/25 [==============================] - 0s 4ms/step - loss: 3387.6106 - val_loss: 3283.7456
Epoch 44/100
25/25 [==============================] - 0s 4ms/step - loss: 3224.5830 - val_loss: 3119.1887
Epoch 45/100
25/25 [==============================] - 0s 4ms/step - loss: 3071.6001 - val_loss: 2963.4729
Epoch 46/100
25/25 [==============================] - 0s 3ms/step - loss: 2925.3247 - val_loss: 2824.2922
Epoch 47/100
25/25 [==============================] - 0s 4ms/step - loss: 2778.4248 - val_loss: 2678.7378
Epoch 48/100
25/25 [==============================] - 0s 3ms/step - loss: 2646.6819 - val_loss: 2541.4138
Epoch 49/100
25/25 [==============================] - 0s 3ms/step - loss: 2516.1062 - val_loss: 2419.6917
Epoch 50/100
25/25 [==============================] - 0s 4ms/step - loss: 2390.1135 - val_loss: 2290.1018
Epoch 51/100
25/25 [==============================] - 0s 3ms/step - loss: 2268.4343 - val_loss: 2173.5344
Epoch 52/100
25/25 [==============================] - 0s 3ms/step - loss: 2155.1951 - val_loss: 2058.7021
Epoch 53/100
25/25 [==============================] - 0s 3ms/step - loss: 2045.7928 - val_loss: 1954.2990
Epoch 54/100
25/25 [==============================] - 0s 3ms/step - loss: 1945.9917 - val_loss: 1848.5038
Epoch 55/100
25/25 [==============================] - 0s 4ms/step - loss: 1846.1322 - val_loss: 1748.7657
Epoch 56/100
25/25 [==============================] - 0s 4ms/step - loss: 1754.0419 - val_loss: 1662.7892
Epoch 57/100
25/25 [==============================] - 0s 4ms/step - loss: 1664.0529 - val_loss: 1580.7450
Epoch 58/100
25/25 [==============================] - 0s 4ms/step - loss: 1579.1791 - val_loss: 1496.8121
Epoch 59/100
25/25 [==============================] - 0s 4ms/step - loss: 1500.8528 - val_loss: 1419.8254
Epoch 60/100
25/25 [==============================] - 0s 3ms/step - loss: 1428.0631 - val_loss: 1345.6245
Epoch 61/100
25/25 [==============================] - 0s 3ms/step - loss: 1357.3693 - val_loss: 1281.5112
Epoch 62/100
25/25 [==============================] - 0s 5ms/step - loss: 1293.8929 - val_loss: 1216.8564
Epoch 63/100
25/25 [==============================] - 0s 3ms/step - loss: 1230.3456 - val_loss: 1154.8143
Epoch 64/100
25/25 [==============================] - 0s 3ms/step - loss: 1172.5004 - val_loss: 1097.1184
Epoch 65/100
25/25 [==============================] - 0s 3ms/step - loss: 1113.6099 - val_loss: 1043.2327
Epoch 66/100
25/25 [==============================] - 0s 3ms/step - loss: 1059.0828 - val_loss: 994.1252
Epoch 67/100
25/25 [==============================] - 0s 4ms/step - loss: 1010.8845 - val_loss: 947.5659
Epoch 68/100
25/25 [==============================] - 0s 4ms/step - loss: 963.7966 - val_loss: 903.1194
Epoch 69/100
25/25 [==============================] - 0s 4ms/step - loss: 918.3100 - val_loss: 859.7480
Epoch 70/100
25/25 [==============================] - 0s 4ms/step - loss: 875.7891 - val_loss: 824.0140
Epoch 71/100
25/25 [==============================] - 0s 4ms/step - loss: 836.4816 - val_loss: 786.7521
Epoch 72/100
25/25 [==============================] - 0s 3ms/step - loss: 798.3798 - val_loss: 750.7037
Epoch 73/100
25/25 [==============================] - 0s 3ms/step - loss: 764.0714 - val_loss: 717.5321
Epoch 74/100
25/25 [==============================] - 0s 3ms/step - loss: 726.8175 - val_loss: 684.4722
Epoch 75/100
25/25 [==============================] - 0s 3ms/step - loss: 694.9490 - val_loss: 656.9293
Epoch 76/100
25/25 [==============================] - 0s 3ms/step - loss: 664.8162 - val_loss: 628.8406
Epoch 77/100
25/25 [==============================] - 0s 3ms/step - loss: 635.1392 - val_loss: 602.1907
Epoch 78/100
25/25 [==============================] - 0s 3ms/step - loss: 608.5842 - val_loss: 577.6669
Epoch 79/100
25/25 [==============================] - 0s 3ms/step - loss: 581.6934 - val_loss: 554.2692
Epoch 80/100
25/25 [==============================] - 0s 3ms/step - loss: 557.6655 - val_loss: 535.4674
Epoch 81/100
25/25 [==============================] - 0s 3ms/step - loss: 533.9745 - val_loss: 511.4038
Epoch 82/100
25/25 [==============================] - 0s 3ms/step - loss: 510.8409 - val_loss: 492.2273
Epoch 83/100
25/25 [==============================] - 0s 5ms/step - loss: 490.1976 - val_loss: 474.7552
Epoch 84/100
25/25 [==============================] - 0s 4ms/step - loss: 470.6395 - val_loss: 454.9923
Epoch 85/100
25/25 [==============================] - 0s 5ms/step - loss: 451.6367 - val_loss: 438.3241
Epoch 86/100
25/25 [==============================] - 0s 4ms/step - loss: 434.5762 - val_loss: 420.6776
Epoch 87/100
25/25 [==============================] - 0s 3ms/step - loss: 414.8643 - val_loss: 405.6913
Epoch 88/100
25/25 [==============================] - 0s 3ms/step - loss: 400.5386 - val_loss: 389.1085
Epoch 89/100
25/25 [==============================] - 0s 4ms/step - loss: 383.0194 - val_loss: 375.9856
Epoch 90/100
25/25 [==============================] - 0s 4ms/step - loss: 369.1780 - val_loss: 363.9475
Epoch 91/100
25/25 [==============================] - 0s 3ms/step - loss: 353.8575 - val_loss: 350.7777
Epoch 92/100
25/25 [==============================] - 0s 4ms/step - loss: 342.0031 - val_loss: 340.6004
Epoch 93/100
25/25 [==============================] - 0s 5ms/step - loss: 327.7602 - val_loss: 327.4208
Epoch 94/100
25/25 [==============================] - 0s 5ms/step - loss: 316.1369 - val_loss: 316.1159
Epoch 95/100
25/25 [==============================] - 0s 4ms/step - loss: 304.4828 - val_loss: 304.9965
Epoch 96/100
25/25 [==============================] - 0s 3ms/step - loss: 295.9358 - val_loss: 295.5213
Epoch 97/100
25/25 [==============================] - 0s 3ms/step - loss: 282.9886 - val_loss: 284.9316
Epoch 98/100
25/25 [==============================] - 0s 4ms/step - loss: 272.4135 - val_loss: 274.8656
Epoch 99/100
25/25 [==============================] - 0s 3ms/step - loss: 262.1487 - val_loss: 266.4324
Epoch 100/100
25/25 [==============================] - 0s 4ms/step - loss: 253.7636 - val_loss: 258.4584

In [41]:
yp = ann.predict(xtest)
yp

7/7 [==============================] - 0s 2ms/step

array([[482.15323],
       [527.5931 ],
       [498.07294],
       [535.6993 ],
       [649.43134],
       [337.58942],
       [352.3026 ],
       [366.47717],
       [709.927  ],
       [501.36807],
       [481.29416],
       [511.65894],
       [498.80356],
       [363.44565],
       [548.79956],
       [496.1931 ],
       [575.4165 ],
       [550.63403],
       [486.84137],
       [502.5627 ],
       [467.8299 ],
       [602.14233],
       [447.47064],
       [576.9606 ],
       [431.6132 ],
       [524.8824 ],
       [376.867  ],
       [504.46515],
       [543.1175 ],
       [342.87048],
       [443.9379 ],
       [641.9536 ],
       [559.7774 ],
       [538.13727],
       [604.62463],
       [547.0191 ],
       [412.69574],
       [572.2622 ],
       [554.599  ],
       [520.147  ],
       [419.66577],
       [724.7258 ],
       [527.823  ],
       [532.53   ],
       [515.14404],
       [449.73727],
       [525.50305],
       [527.9572 ],
       [584.8375 ],
       [472.83624],
       [380.2464 ],
       [625.947  ],
       [814.1443 ],
       [526.38745],
       [658.8137 ],
       [548.3787 ],
       [494.33597],
       [541.13367],
       [548.94147],
       [370.55353],
       [644.50085],
       [472.08646],
       [476.32758],
       [509.13187],
       [562.8176 ],
       [332.3905 ],
       [555.26624],
       [544.0241 ],
       [443.81567],
       [592.58124],
       [559.81213],
       [425.905  ],
       [463.8606 ],
       [670.5118 ],
       [399.7715 ],
       [549.90753],
       [336.08362],
       [453.45602],
       [599.4894 ],
       [539.4086 ],
       [455.51   ],
       [446.56134],
       [361.8433 ],
       [478.7131 ],
       [386.76535],
       [658.8054 ],
       [381.2788 ],
       [551.8871 ],
       [568.2478 ],
       [361.5772 ],
       [401.5169 ],
       [506.3911 ],
       [550.70605],
       [561.9986 ],
       [726.63995],
       [539.9416 ],
       [613.9403 ],
       [614.5001 ],
       [619.7952 ],
       [539.10614],
       [493.7979 ],
       [520.7295 ],
       [579.44543],
       [437.3073 ],
       [607.7742 ],
       [418.6651 ],
       [355.6224 ],
       [438.09732],
       [407.37247],
       [493.93365],
       [479.70215],
       [400.14194],
       [481.11566],
       [407.21274],
       [315.8349 ],
       [585.6874 ],
       [497.97333],
       [390.612  ],
       [409.9825 ],
       [552.32715],
       [480.65308],
       [462.93622],
       [536.9338 ],
       [540.4415 ],
       [566.98486],
       [506.5291 ],
       [511.74158],
       [383.33795],
       [556.7514 ],
       [584.9122 ],
       [590.6751 ],
       [433.38586],
       [560.5408 ],
       [391.7641 ],
       [466.69116],
       [644.5216 ],
       [635.9874 ],
       [507.54852],
       [606.393  ],
       [600.1823 ],
       [574.9634 ],
       [465.29578],
       [664.3546 ],
       [358.31854],
       [490.17325],
       [540.7629 ],
       [528.4293 ],
       [577.6693 ],
       [639.98083],
       [499.02686],
       [487.73785],
       [503.34613],
       [353.32895],
       [484.79285],
       [550.9681 ],
       [465.49887],
       [597.9531 ],
       [568.7894 ],
       [460.10736],
       [451.6566 ],
       [457.51428],
       [526.9823 ],
       [388.52765],
       [511.51776],
       [473.5497 ],
       [348.62085],
       [540.89526],
       [395.09912],
       [619.5601 ],
       [665.9246 ],
       [417.87268],
       [470.14676],
       [500.21677],
       [464.92114],
       [399.805  ],
       [613.4748 ],
       [523.8732 ],
       [640.0337 ],
       [333.6778 ],
       [440.75867],
       [466.68048],
       [323.72745],
       [374.4405 ],
       [537.0603 ],
       [507.5514 ],
       [505.56018],
       [481.80322],
       [510.35632],
       [516.63885],
       [361.60886],
       [431.05603],
       [517.73334],
       [506.60516],
       [550.31757],
       [444.41473],
       [457.61346],
       [582.8636 ],
       [489.94946],
       [511.05533],
       [460.02246]], dtype=float32)

In [42]:
from sklearn.metrics import r2_score

In [43]:
r2_score(ytest,yp)

0.9676619526083511